@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: url('/bg.jpeg') 50% fixed;
  background-size: cover;
}
